<!DOCTYPE html>
<html>
  <head>
    <title>ConnectTheDots</title>
    <meta name="description" content="ConnectTheDots App" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://github.com/grayson-poon/ConnectTheDots/blob/main/app/assets/images/thumbnail.jpg?raw=true" />
    <meta name="description" property="og:description" content="ConnectTheDots App" />
    <meta name="author" content="Grayson Poon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <% if current_user %>
      <script>
        window.currentUserId = <%= current_user.id %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

